!!! 5
html
    head
        title Butifarra's Game Server
        script
            var serverUrl = '#{serverUrl}' || 'localhost:8000';
        script(type='text/javascript',src='/socket.io/socket.io.js')
        script(type='text/javascript',src='/public/jquery-1.7.1.min.js')
        script(type='text/javascript',src='/public/jquery-ui-1.8.17.custom.min.js')
        script(type='text/javascript',src='/public/kinetic-v3.7.1.js')
        script(type='text/javascript',src='/public/kinetic-image-plugin-v1.0.1.js')
        script(type='text/javascript',src='/public/ui.js')
        script(type='text/javascript',src='/public/client.js')
        link(rel='stylesheet',type='text/css',href='/public/style.css')
        link(rel='stylesheet',type='text/css',href='/public/jquery-ui.css')
    body(onLoad='doLoad();')
    #container
        div#login-dialog(title="#{__i('Login')}")
            form
            fieldset
                label(for='login-name') #{__i('Enter your name')}
                input#login-name(type='text',name='login-name',class='text ui-widget-content ui-corner-all')
        div#create-game-dialog(title="#{__i('New Game')}")
            form
            fieldset
                label(for='game-name') #{__i('Name')}
                input#game-name(type='text',name='game-name',class='text ui-widget-content ui-corner-all')
        div#tabs
            ul
                li 
                    a(href='#chat') #{__i('Chat')}
                li 
                    a(href='#games') #{__i('Games')}
            div#chat.row
                div#chat-messages.cell.bordered.scrolled
                    ul#messages
                        li #{__i('Welcome to the Chat!')}
                div#chat-players.cell.bordered.scrolled
                    p #{__i('Players')}
                    ul#player-list
                form#chat-form(action='javascript:send();')
                   input#msg.text.ui-widget-content.ui-corner-all(type='text',value='')
            div#games.row
                div#game-list.cell.bordered
                    table#game-list
                div#game-details.cell.bordered
                    p #{__i('Game Details')}
                form#game-form
                    input#join.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only(type='button',value="#{__i('Join game')}")
                    input#watch.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only(type='button',value="#{__i('Watch game')}")
                    input#create.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only(type='button',value="#{__i('Create game')}")
